 <div class="container page" id="Trips">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
			  <div class="row">
				
				  <div class="col-md-6">
				  
				 
					<a class="btn btn-outline-primary btn-md tripsbtn active-page" style="float:left; margin-right:20px;" ui-sref="corporate.myQudosfave" id="drivertripsbtnicon">My QudosFave <img src="images/caricongrey.png" style="padding-left:10px;" id="drivercariconbtn"></a>
					<a class="btn btn-outline-primary btn-md tripsbtn " data-hover="images/caricongrey.png"  data-unhover="images/caricon.png" style="float:left; " ui-sref="corporate.qudosfave" id="drivertripsbtnicon">QudosFave Drivers<img src="images/caricongrey.png" style="padding-left:10px;" id="drivercariconbtn"></a>
					  
					
					</div>
					
					<div class="col-md-2"></div>
					<div class="col-md-4 search-div">						
						<input type="text" placeholder="Search name, car, affiliate" ng-change="initTable(1)" ng-model-options="{ debounce: 1200 }"  class="input form-control field" ng-model="searchuser"/>		
					</div>
					<div class="col-md-5 hidden text-right">

					    <button class="btn btn-outline-primary btn-md tripsbtn adddocbtn" ng-show="(currentPage>1)" ng-click="pageChanged(currentPage-1)" >Prev</button>
					    <button class="btn btn-outline-primary btn-md tripsbtn adddocbtn" ng-disabled="hideNext" ng-click="pageChanged(currentPage+1)" >Next</button>
						<button class="btn btn-outline-primary btn-md tripsbtn adddocbtn" ng-click="openAddUser()" >Add User</button>
					</div>
				
				
			  </div>
          </div>
        </div>
      </div>

        <!-- Tables
      ================================================== -->
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
            </div>
            <table class="table table-responsive trips dtrips">
                <thead>
                  <tr class="frow">
                    <th class="not-that-first" scope="col">ID </th>
                    <th scope="col">Driver Image</th>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Car Details</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody ng-if="Users.length > 0">
                  <tr ng-repeat="doc in Users | filter:searchuser track by $index " >
                    <td>{{doc.driver_id}}</td>

                    <td class="circular"><div class="d-image"><img class="img-sm img-responsive" ng-src="{{doc.driver_image}}" alt="driver - {{doc.driver_name}}"/></div></td>
                    <td><div class="word-break mw-300">{{doc.driver_name}}</div></td>
                    <td>{{doc.car_make}} {{doc.car_model}} {{doc.car_color}} {{doc.car_year}}</td>
                    <td>{{doc.zipcode}}</td>
                    <td><a href="javascript:;" class="btn btn-outline-primary btn-md button-green" data-toggle="modal" data-target="#confirmUserAdd"  ng-click="deleteUser(doc)">Delete</a> </td>
                  </tr>
				  
				    <tr ng-show="!hideLoadMore"  >
						<td colspan="6" class="text-center"><button class="load-more-btn" ng-disabled="DisableLoadMore" ng-click="loadMore()">Load More</button></td>
					  </tr>
				  
                </tbody>
                   <tbody ng-if="Users.length == 0">
                        <tr>
                            <td colspan="6" class="text-center">No Driver Found</td>
                        </tr>
                    </tbody>
              </table>
			  
			  </div>
        </div>
      </div>


<div id="confirmUserAdd" class="modal" role="dialog" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"  style="margin-top:-4px;font-size: 1.7em;margin-right: 4px;">&times;</button>
                <div style="text-align: center; margin-bottom:50px">
                  <p class="modal-title" style="margin-top: 40px;font-size: 18px; font-weight: 400;" >Are you sure you want to delete <span class="favname word-break">{{toBeDeleted}}</span> from your favorite list?</p>
                
                </div>              
                <div style="text-align: center; margin-bottom: 25px;" class="logoutbtn">
					<button class="btn btn-outline login_button button-black" data-dismiss="modal" type="submit" style="padding: 7px 33px 7px 33px; border:1px solid #aaa; text-shadow: none;">Cancel</button>
				  
					<button class="btn btn-primary login_button button-blue" data-dismiss="modal" ng-click="deleteUserConfirmed(driver_toDelete)" type="submit" style="padding:7px 33px 7px 33px; margin-right:7px;">Yes</button>
                
                </div>
            </div>
        </div>
    </div>
</div>

	  
<script>
    function WindowCloseHanlder()
    {
        console.log("web access token is getting removed");
        App.controller('driverTripsController', function($rootScope, $scope, $http, $cookies, $cookieStore, MY_CONSTANT, $state, ngDialog) {
            if (!$cookieStore.get('web_access_token')) {
              window.location.href = 'http://ridequdos.com/driverlogin.html';
            }
        });
    }
</script>
<script type="text/javascript">
  $(document.body).on('show.bs.collapse', '.panel-collapse' ,function(){
      $('.display').show();
  });
  
  $(document.body).on('hide.bs.collapse', '.panel-collapse' ,function(){
    $('.display').hide();
  
  });
  
  $('.tripsbtn').not('.active-page').on('mouseover touchstart',function(){
		$(this).find('img').attr('src',$(this).data('hover'));
	});
	$('.tripsbtn').not('.active-page').on('mouseout touchend',function(){
		$(this).find('img').attr('src',$(this).data('unhover'));
	})
  </script>
<!-- <script type="text/javascript">
$(function(){
  $("#drivertripsbtnicon").on({
   mouseenter: function(){
    $('#drivercariconbtn').attr('src','images/cariconwhitep.png');
  },
  mouseleave: function(){
    $('#drivercariconbtn').attr('src','images/caricon.png');
  }
  }); 
});
</script> -->
